.main-div
{
    background-color: aqua;
    border: 2px solid black;
    height: 50px;
    display: flex;
    justify-content: space-between;


    
}

a{
   text-decoration: none;
   background-color: white;
   border-radius: 3px;
   
}